daily-weather-digest/workflow.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "url": "=http://api.openweathermap.org/geo/1.0/direct?q={{ $json[\"body.cities\"] }}&limit=1&appid=e1393806a9d94c388cb4bb1296be2d09 ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        16
      ],
      "id": "f9b164d7-e00a-4204-a073-88a548bfa784",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a09a6ae6-2970-4d31-a9ea-d3b28c914995",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        32
      ],
      "id": "a9f81b1c-7f60-45bb-9e4b-db697f247ea9",
      "name": "Webhook",
      "webhookId": "a09a6ae6-2970-4d31-a9ea-d3b28c914995"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.cities",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        -160
      ],
      "id": "f1395050-3023-45f1-a629-937c9b50905b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1232bd0d-1721-40b6-a010-95548e1d6b73",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6fe1ab37-e350-4b75-8463-b5725814ee25",
              "name": "lat",
              "value": "={{ $json.lat }}",
              "type": "number"
            },
            {
              "id": "60b127b1-657e-4a69-8dba-eb0b928f335b",
              "name": "lon",
              "value": "={{ $json.lon }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -160
      ],
      "id": "d211f468-7382-4a1b-b50d-01a6adbd400f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.openweathermap.org/data/2.5/weather?lat={{ $json.lat }}&lon={{ $json.lon }}&appid=e1393806a9d94c388cb4bb1296be2d09&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        240
      ],
      "id": "237887e5-a0ff-4244-a90d-26eb0a9acece",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "city,temperature,condition",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        -112
      ],
      "id": "29670bce-db62-4d17-a061-96242dc0713a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "report = \"⚠️ Weather Alert Digest\\n\\n\"\ncities = _items[0][\"json\"][\"data\"] \nheat_and_rain_alert=0\n\nfor city in cities:\n  \n  \n  heat_and_rain_alert+=1\n  report += (\n        f'{city[\"city\"]}\\n'\n        f'{city[\"temperature\"]}°C • {city[\"condition\"]}\\n\\n'\n        \n        \n    )\nreport +=(f'Total Alerts - {heat_and_rain_alert}')\n\nreturn [{\"json\":{\n    \"report\": report}\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        80
      ],
      "id": "47d82a20-13aa-4ec0-be53-037d91da48c4",
      "name": "Code in Python"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.report }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1248,
        -48
      ],
      "id": "ae0a27aa-6d4d-425f-8693-27580f96c5d5",
      "name": "Discord",
      "webhookId": "f090a42e-60f1-4568-9234-666a7238a1f6",
      "credentials": {
        "discordWebhookApi": {
          "id": "AZGguBtBV8ZYdmd8",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f64ae5a-3485-4470-973d-b86b49ed0d1f",
              "name": "city",
              "value": "={{ $('HTTP Request').item.json.name }}",
              "type": "string"
            },
            {
              "id": "69c2734b-90dc-4dcc-8de4-c66a4d02aafe",
              "name": "temperature",
              "value": "={{ $json.main.temp }}",
              "type": "number"
            },
            {
              "id": "2e6910d4-5558-4463-9d57-71a604df8e87",
              "name": "condition",
              "value": "={{ $json.weather[0].main }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        80
      ],
      "id": "5978df10-be56-452b-951d-7d3dedd26568",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c4f3322-0d69-45f7-8892-f6ff0df80ee7",
              "leftValue": "={{ $json.temperature }}",
              "rightValue": 35,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "d9aaa4a8-7178-44f8-bcd6-f43d09c21bf5",
              "leftValue": "={{ $json.condition }}",
              "rightValue": "Rain",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        176
      ],
      "id": "a9950bc9-02da-49c4-84ab-6f6ff8f7e846",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "18201881-a882-47d9-9ac2-0c4bbfd9eb1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f69357b2a5745b462edd578d06971288cf4cd8f876921dab23a9a280ca4033f4"
  },
  "nodeGroups": [],
  "id": "S7vhiTyfMxCAuO2U",
  "tags": []
}